.formsArea{
    margin: 0 auto;
    width: 60%;
    padding-top: 100px;
 }

 .subject_colum{
    display: flex;
 }

 .add_gce_button{
   display: flex;
   justify-content: center;
   margin: 20px;
 }

